html, body, section, .full-height{
    background-color: #323232;
    height: 100%;
    overflow: hidden;

    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    color: rgb(248, 248, 248);
    tab-size: 3;
}

body, .panel-body {
    padding: 1.5em;
}

button {
    outline: none;
}

input::-webkit-input-placeholder {
color: rgba(154, 171, 193, 0.3) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(154, 171, 193, 0.3) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(154, 171, 193, 0.3) !important;  
}
 
input:-ms-input-placeholder {  
color: rgba(154, 171, 193, 0.3) !important;  
}

.full-width {
    width: 100%;
}

.panel-body {
    overflow: auto;
}

.container-fluid {
    height: 100%;
}

.panel-default {
    background-color: #323232;
    border: 5px solid rgb(53, 54, 55);
    padding: 0;
}

.panel-header, .panel-footer {
    background-color: rgb(53, 54, 55);
}

.modal-content {
    background-color: #323232;
    border-color: 0;
}

.modal-header {
    border-bottom: 3px solid rgb(53, 54, 55);
}

.alert {
    margin: 0;
    background-color: rgba(0, 0, 0, 0)!important;
    border-width: 3px;
}

.alert-danger {
    border-color: #a94442;
}

.input-group-addon, .form-control {
    background-color: #323232;
    border-color: rgb(53, 54, 55);
    border-width: 3px;
    color: rgb(248, 248, 248)!important;
}

.close {
    color: rgb(248, 248, 248)!important;
    text-shadow: none;
    opacity: 1;
}

#editor {
    position: relative;
}

.other-user-0 {
position: absolute;
background-color: #D197D9!important;
background-attachment: scroll;
background-clip: content-box;
box-sizing: content-box;
z-index: 2;
}
.other-user-1 {
position: absolute;
background-color: #6C99BB!important;
background-attachment: scroll;
background-clip: content-box;
box-sizing: content-box;
z-index: 2;
}
.other-user-2 {
position: absolute;
background-color: #D25252!important;
background-attachment: scroll;
background-clip: content-box;
box-sizing: content-box;
z-index: 2;
}
.other-user-3 {
position: absolute;
background-color: #A5C261!important;
background-attachment: scroll;
background-clip: content-box;
box-sizing: content-box;
z-index: 2;
}
.other-user-4 {
position: absolute;
background-color: #CC7833!important;
background-attachment: scroll;
background-clip: content-box;
box-sizing: content-box;
z-index: 2;
}


.icons {
    float: left;
    position: static;
    padding: 2.5%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    max-height: 135px;
}

.tag {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glyphicon {
    font-size: 5em;
}

.center-frame {
    display: inline-block;
    overflow: auto;
    outline: none;
    resize: none;
    white-space: pre-wrap;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}